<h1>People#show</h1>
<p>This can be kinda dashboard</p>
<p><%= @person.pseudo %></p>
<p><%= @user.email %></p>
<p><%= @location.address if @location %></p>
<br />
<p><%= @person.pseudo %>'s events :</p>
